:host {
  // Active subtitle highlight
  li.subtitle-active {
    background-color: #e3f2fd; // Highlight style
  }

  li {
    padding: 12px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  // Common styles for p tags
  p {
    margin: 0;
    white-space: pre-line;
    word-break: break-word;
    line-height: 1.5;
  }

  // Styles for primary subtitle
  .primary-text {
    font-size: 1em;
    color: #212121; // Darker color for emphasis
    margin-bottom: 4px; // Space between primary and secondary subtitles
  }

}
