<div class="immerse-container">
  <div class="video-panel">
    <!-- 视频播放器  -->
    <video #videoPlayer [src]="videoSrc" controls width="640" (loadedmetadata)="onVideoLoaded()" (timeupdate)="onVideoPlaying($event)"></video>

    <div class="video-overlay">

      <!-- 视频文件选择按钮  -->
      <input #videoInput type="file" (change)="onVideoSelected($event)" accept="video/*">
      <!-- 点击触发#videoInput -->
      <button mat-icon-button class="input-video-btn" (click)="videoInput.click()" matTooltip="{{ 'PAGES.IMMERSE.SUBTITLE.VIDEO_SELECTION' | translate }}">
        <mat-icon>folder_open</mat-icon>
      </button>

    </div>
  </div>

  <div class="subtitle-panel">
    <div class="subtitle-header">
      <div class="subtitle-title">{{ 'PAGES.IMMERSE.SUBTITLE.HEADER' | translate }}</div>
      <div class="subtitle-action-bar">

        <!-- 选择字幕文件 -->

        <input #subtitleInput type="file" (change)="onSubtitleSelected($event)" accept=".srt">
        <button mat-icon-button class="input-subtitle-btn" (click)="subtitleInput.click()" matTooltip="{{ 'PAGES.IMMERSE.SUBTITLE.SUBTITLE_SELECTION' | translate }}">
          <mat-icon>folder_open</mat-icon>
        </button>

        <!-- 字幕设置按钮 -->
        <button mat-icon-button class="subtitle-settings-btn">
          <mat-icon class="subtitle-settings.icon">settings</mat-icon>
        </button>

      </div>
    </div>

    <cdk-virtual-scroll-viewport itemSize="32" class="subtitle-viewport">
      <ul class="subtitle-list">
        <li *cdkVirtualFor="let sub of subtitles" class="subtitle-item">
          <!-- 2. 主字幕始终显示 -->
          <p class="primary-text">{{ sub.primaryText }}</p>
          <!-- 3. 副字幕：只有当 sub.secondaryText 存在时才渲染这个 <p> 标签 -->
          @if (sub.secondaryText) {
          <p class="secondary-text">{{ sub.secondaryText }}</p>
          }
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>
  </div>

</div>