<div class="app-container">
  <div class="toolbar-wrapper">
    <mat-toolbar class="main-toolbar">
      @for (t of tabs; track t.path) {
        <button mat-button 
          [routerLink]="t.path"
          routerLinkActive="active"
          >
          {{ t.label | translate }}
        </button>
      }

      <button mat-button (click)="onSync()"> {{ 'HEADER.SYNC' | translate }}</button>
    </mat-toolbar>
  </div>

  <main class="main-content">
      <router-outlet></router-outlet>
    <app-dictionary></app-dictionary>
  </main>
</div>
