@mixin theme() {
    color: var(--mat-sys-on-primary-container)
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: var(--mat-sys-on-primary-container);
}